/*GLOBAL*/

body {
    width: 100%;
    height: 100%;
    font-family: "arial";
    box-sizing: border-box;
}

/*MENU*/

nav {
    float: right;
    width: 100%;
    background: black;
}

/*MENU TEKST*/

nav ul {
    padding: 0;
    margin: 0;
}

/*MENU LISTE*/

nav ul li {
    list-style-type: none;
    width: 33%;
    display: inline;
}

/*FARVE MENU*/

li:hover a {
    color: olive;
}


/*MENU LISTE*/

nav li a {
    display: inline-block;
    float: left;
    color: whitesmoke;
    text-decoration: none;
    margin: 2%;
}

/*OVERSKRIFTER INDEX*/

h1 {
    margin-left: 2%;

}

/*OVERSKRIFTER INFO + BOOK*/

.h1-info-book {
    margin-top: 15%;
}

/*BESKRIVELSER*/

h2 {
    font-style: italic;
    margin: 2%;
}


/*BILLEDER*/

img {
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 0;
}

/*INFORMATION*/

.info-container {
    background: lightblue;
    padding: 5%;
    text-align: justify;
    margin: 2%;
    margin-right: 10%
}

.fly-container {
    background: blue;
    padding: 5%;
    margin: 10%;
    text-align: justify;

}

.hotel-container {
    background: green;
    padding: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-right: 5%;
    text-align: justify;
}

.book-container {
    background: tomato;
    padding: 5%;
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 5%;
    text-align: justify;
}


/*BOOKING*/

#jordan {
    padding-bottom: 5%;
}

.vietnam-container {
    background-color: sandybrown;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.priser-container {
    background-color: darkgray;
    padding: 5%;
    margin-bottom: 5%;
}


/*FOOTER*/

footer {
    font-family: monospace;
    font-size: 20%; 
    background: olive;
    padding: 5%;
    margin: 0;
}

/*MOBIL*/

@media (max-width: 768px) {
    nav{font-size: 60%;
    }
}

/*TABLET*/

@media (min-width: 768px) {

    #logo {
        width: 20%
    }
     nav{font-size: 60%;
    }

    nav ul {
        font-size: 200%;
    }
}

/*LAPTOP/DESKTOP*/

@media (max-width: 1600px) {
    nav ul {
        font-size: 200%;
    }
}
