/*dette er min bagrundsfarve på alle siderne*/ 
body {background-color: plum}

/*dette er farven, i hvilken siden teksten står og størrelsen på min footer på alle siderne*/  
footer {
    background-color: bisque;
    text-align: right;
    padding: 80px;
}

/*dette er min header, farve osv.*/ 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightpink;
}
 
/*dette er min menu*/ 
nav li {
    float: left;
}


/*dette er min skrift i min menu*/ 
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 80px;
    font-size: 20px;
}


